.repos-details-bd {
  max-width: 520px;
  /* margin: 0 auto;*/
  margin-left: 350px;
  padding: 30px;
  /*background-color: #333;*/
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 60px;
  border: 1px solid gainsboro;
  margin-bottom: 30px;
  color: #f5f5f5;
}

.repo-details-input {
  width: 400px;
  height: 45.5px;
  border: 1px solid #9e9e9e !important;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #161b22;
  color: #f5f5f5;
}

.btn-comment-repos {
  background-color: #161b22;
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
  /*border-radius: 10px;*/
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none !important;
}

.btn-comment-repos:hover {
  background-color: #0056b3;
  color: #f5f5f5;
  border: 1px solid #0056b3;
}

.btn-update-delete {
  display: flex;
  justify-content: space-between;
}

.btn-show-details {
  background: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.btn-show-details:hover {
  color: #0056b3;
}

.btn-delete-details {
  background: none;
  border: none;
  color: #f44336;
  cursor: pointer;
  font-size: 16px;
}

.btn-delete-details:hover {
  color: #d32f2f;
}

/* Estilo para la sección de paginación */
.pagination-repos-details {
  display: flex;
  margin-left: -5px;
  align-items: center;
  flex-wrap: wrap;
}

/* Estilo para los botones de paginación */
.pagination-repos-details button {
  background-color: #007bff;
  color: #fff;
  border: none;

  padding: 10px 20px; /* Espaciado interno */
  margin: 0 5px; /* Espacio entre los botones */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

/* Estilo para el botón activo de la página actual */
.pagination-repos-details button.active {
  background-color: #0056b3; /* Cambio de color de fondo para el botón activo */
}

/* Estilo para el botón de página al pasar el cursor */
.pagination-repos-details button:hover {
  background-color: #0056b3;
}

.avatar-image-details {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
