/* Agrega estilos para el modal */
.repo-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.repo-modal-content {
  background-color: #161b22;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid gainsboro;
  /*width: 80%;*/
  max-width: 60%;
  position: relative;
  color: #f5f5f5;

  overflow-y: auto;
  max-height: 80vh;
  box-sizing: border-box;
}

.repo-name-modal {
  padding-right: 30px;
}

.line-modal {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-modal {
  background-color: #161b22;
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  padding: 10px 50px;
  padding-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  vertical-align: 3px;
}

.btn-modal:hover {
  background-color: #0056b3;
  color: #f5f5f5;
  border: 1px solid #0056b3;
}

.repo-url {
  padding-right: 30px;
}

@media (max-width: 768px) {
  .repo-modal-content {
    max-width: 90%;
  }
}
