.repos-list-bd-container {
  display: flex;
  padding-top: 70px;
}

.btn-container-bd {
  margin-top: 60px;
  max-width: 300px;
}

.repos-list-bd {
  max-width: 600px;
  margin-left: 350px;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 60px;
  border: 1px solid gainsboro;
  margin-bottom: 160px;
}

.repos-list-bd h1 {
  color: #f5f5f5;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.repos-list-bd ul {
  list-style-type: none;
  padding: 0;
}

.repos-list-bd li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

.repos-list-bd-a {
  font-size: 20px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.repos-list-bd-a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Grosor del subrayado */
  background-color: #007bff; /* Color del subrayado */
  bottom: 0; /* Ajusta esto para controlar la distancia vertical del subrayado */
  left: 0;
  transform: scaleX(0); /* Oculta el subrayado inicialmente */
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out;
}

.repos-list-bd-a:hover::after {
  transform: scaleX(1); /* Muestra el subrayado al pasar el mouse */
  color: #007bff;
}

.repos-list-bd-a:hover {
  color: #007bff;
}

.list-repos-searched {
  margin-bottom: 0;
}

.btn-delete {
  background: none;
  border: none;
  color: #f44336;
  cursor: pointer;
  font-size: 20px;
}

.btn-delete:hover {
  color: #d32f2f;
}

@media (max-width: 1299px) {
  .repos-list-bd {
    margin-left: 220px;
  }
}

@media (max-width: 1020px) {
  .repos-list-bd {
    margin-left: 120px;
  }
}

@media (max-width: 850px) {
  .repos-list-bd {
    margin-left: 70px;
  }
}

@media (max-width: 768px) {
  .repos-list-bd-container {
    display: grid;
  }

  .repos-list-bd {
    padding: 30px;
    margin-left: 0px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 420px) {
  .repos-list-bd-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
