.users-container {
  margin-left: 80px;
}

.list-users-container {
  margin-top: 130px;
  display: flex;
}

.user-list h2 {
  margin-top: 5px;
  color: #f5f5f5;
  margin-bottom: 30px;
  padding-right: 20px;
}

/* Estilo para la lista de usuarios */
.user-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
}

/* Estilo para cada elemento de usuario */
.user-list li {
  text-align: center;
  margin: 10px;
  padding-left: 20px;
}

.user-list img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
}

/* Estilo para el enlace al perfil de GitHub */
.user-list a {
  font-size: 18px;
  text-decoration: none;
  color: #f5f5f5;
}

/* Estilo para el enlace al perfil de GitHub al pasar el cursor */
.user-list a:hover {
  color: #007bff;
}

/* Estilo para la sección de paginación */
.pagination {
  display: flex;
  margin-left: 30px;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding-right: 30px;
}

/* Estilo para los botones de paginación */
.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Espaciado interno */
  margin: 0 5px; /* Espacio entre los botones */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

/* Estilo para el botón activo de la página actual */
.pagination button.active {
  background-color: #0056b3; /* Cambio de color de fondo para el botón activo */
}

/* Estilo para el botón de página al pasar el cursor */
.pagination button:hover {
  background-color: #0056b3;
}

/* Estilos para los botones */
.btn-container {
  margin-top: 20px;
}

.btn-clear,
.btn-back {
  background-color: #161b22;
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.btn-clear:hover,
.btn-back:hover {
  background-color: #0056b3;
  color: #f5f5f5;
  border: 1px solid #0056b3;
}

.user-repos {
  text-align: left;
  /*margin: 10px;
  padding-left: 20px;*/
}

@media (max-width: 768px) {
  .list-users-container {
    display: grid;
  }

  .user-list li {
    margin: 20px;
  }

  .input-container {
    margin-left: 50px;
  }
}

@media (max-width: 420px) {
  .user-list li {
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .user-list h2 {
    margin-bottom: 40px;
    margin-left: -40px;
  }

  .user-list ul {
    margin-left: 0px;
  }

  .input-container {
    margin-left: 10px;
  }

  .pagination {
    margin-left: -20px;
  }
}
